.messagesContainer {
  height: 300px;
  width: 250px;
  padding-top: 10px;
  border: 1px solid grey;
  position: fixed;
  right: 0.5em;
  bottom: 55px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

