/* client messages footer styles */
.clientFooterContainer {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  border: 1px solid grey;
  background-color: white;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  align-items: center;
}
/* footer animations */
.moveIntoView {
  animation: moveFooterIntoView 250ms linear; 
}
.moveOutOfView {
  transform: translateY(60px);
  transition: transform 200ms linear;
}
@keyframes moveFooterIntoView {
  0% {
    transform: translateY(60px);
  }
  50% {
    transform: translateY(30px);
  }
  90% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
/* messenger window close animation */
.moveMessengerWindowOutOfView {
  transform: translateX(300px);
  transition: transform 200ms linear;
}
/* */
.footerUIContainer {
  display: flex;
  justify-content: space-between;
  margin-right: 1em;
  width: 278px;
}
.pushRight {
  display: flex;
  margin-left: auto;
  align-items: center;
}

