.closedMessengerUIContainer {
  position: fixed;
  display: flex;
  background-color: transparent;
  flex-direction: column;
  height: 100px;
  width: 100px;
  right: 1em;
  bottom: 1em;
  border: 2px solid red;
}
.slideIntoView {
  animation: slideComponentIntoView 100ms linear;
}
.slideOutOfView {
  transform: translateX(150px);
  transition: transform 200ms linear;
}

@keyframes slideComponentIntoView {
  0% {
    transform: translateX(60px);
  }
  50% {
    transform: translateX(30px);
  }
  100% {
    transform: translateX(0px);
  }
}
.blinkerHolder {
  border: 1px solid red;
  display: flex;
  flex-direction: row;
}
.blinkerDescription {
  border: 1px solid red;
  margin-left: auto;
}
/*

*/
.closedMessengerUIChatDirections {
  border: 1px solid red;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75em;
  font-weight: 600;
  text-align: right;
  padding-right: 0.25em;
  transform: translateY(80px);
  opacity: 1;
}
.chatDirectionsVisible {
  transition: all 0.25s linear;
  transform: translateY(0px);
}
.chatDirectionsNotVisible {
  transition: all 0.25s linear;
  transform: translateY(80px);
}

