.closedMessengerUIContainer {
  position: fixed;
  display: flex;
  background-color: transparent;
  flex-direction: column;
  height: 100px;
  width: 100px;
  right: 1em;
  bottom: 1em;
  border: 2px solid red;
}
.blinkerHolder {
  border: 1px solid red;
  display: flex;
  flex-direction: row;
}
.blinkerDescription {
  border: 1px solid red;
  margin-left: auto;
}


/*

*/
.closedMessengerUIChatDirections {
  border: 1px solid red;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75em;
  font-weight: 600;
  text-align: right;
  padding-right: 0.25em;
  transform: translateY(80px);
  opacity: 1;
}
.chatDirectionsVisible {
  transition: all 0.5s ease-in;
  transform: translateY(0px);
}
.chatDirectionsNotVisible {
  
  transition: all 0.5s ease-out;
  transform: translateY(80px);
}

