.openClientMessengerContainer {
  background-color: transparent;
  font-size: 3.5em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: green;
}
.openClientMessengerContainer > i {
  cursor: pointer;
}
.openClientMessengerContainer > i:hover {
  animation: scaleOpenClientBtn 1000ms ease-in-out infinite;
}
@keyframes scaleOpenClientBtn {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translatey(2px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0px);
  }
}
