/* send message button styles */
.sendMessageButton {
  position: relative;
  width: 20%;
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--message-send-button-color);
  color: white;
  text-emphasis: bold;
}
.sendMessageButton:hover {
  background-color: var(--message-send-button-color-hover);
}